.creat-news_contener {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_add-news, .add-news {
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 80px;
    height: 80px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    align-items: center;
    transition: all 0.3s;
    box-shadow:  0px 0px 10px rgb(0 0 0 / 60%);
}

.add-news:hover,
.btm-nav:hover {
    color:rgb(11, 130, 146);
    background-color: #d68ff5;
    border: 2px solid rgb(11, 11, 146, 0.336);
    box-shadow: inset 0px 0px 10px rgb(0 0 0 / 60%);
}
.contener_news {
    width: 100%;
}

.wrap_news {
    width: 60%;
    margin: 0 auto;
    padding-left: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(216, 210, 210);
    padding: 10px;
    box-shadow: 5px 5px 8px 3px rgb(0 0 0 / 48%)
}

.wrap_news h2 {
    margin: 0;
}

.addPost {
    background-color: #c769f0;
    color: rgb(209, 209, 209);
    border: 1px solid rgba(155, 155, 245, 0.5);
    border-radius: 20px;
    height: 3em;
    font-weight: 600;
    box-shadow: inset 0px 0px 10px rgb(0 0 0 / 60%);
    
    margin: 0 auto;
    width: 80%;
    font-family: Poppins-Medium;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    transition: all 0.4s;
}

.addPost:hover {
    color:rgb(11, 130, 146);
    background-color: #d68ff5;
    border: 2px solid rgb(11, 11, 146, 0.336);
}

.form_head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.cld_btm_add-news{
    margin-left: 0;
}

.input_text {
    display: block;
}

.input_text {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    display: block;
    width: 97%;
    height: 25px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(151, 151, 151);
    margin-bottom: 14px;
    padding-left: 10px ;
}

.extra_space_text {
    height: 300px;
}

.non-visible {
    display: none;
}


.nav {
    width: 80px;
    position: absolute;
    left: 2em;
    top: 2em;  
    display: flex;
    flex-direction: column; 
}


.btm-nav {
    border-radius: 50%;
    position: absolute;
    width: 80px;
    height: 80px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    align-items: center;
    transition: all 0.3s;
    box-shadow:  0px 0px 10px rgb(0 0 0 / 60%);
}

.btm-nav-top {
    top: 10px;
}

.btm-nav-btn {
    top: 105px;
}

.head_news {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
}
.head_news p {
    margin: 0;

} 

.loggin {
    font-size: 1em;
    font-weight: bold;
}

.logginDog {
    color: grey;
    font-size: 0.8em;
    font-weight: lighter;
    border: none;
    background: none;
}

.time {
    color: #6b5555;
    font-weight: lighter;
}

.post-img-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.post-img {
    max-width: 80%;
}