.profile {
  width: 25em;
  height: 30em;
  background: -webkit-linear-gradient(top, #7579ffc4, #b224efe0);
  position: absolute;
  left: 0;
  right: 0;
  top: 6em;
  bottom: 0;
  margin: auto;
  border-radius: 0.51em;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

.content {
  width: 25em;
  height: 30em;
}

.profilePic {
  width: 10em;
  height: 10em;
  margin: auto;
  margin-top: -6em;
  /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSterQopokt37dESk7e7fsukVfvm_SHyKfSA&usqp=CAU); */
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4pt #ffffff8a;
} 

.profile h3 {
  color: #0b0063;  
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 10px;
}

.profile h4 {
  color:#8e8e8e;  
  font-family: 'Roboto', sans-serif;
  text-align:center;
  font-size:1em;
  margin-top:0.5em;
}   

  /* .setting{
  position:absolute;
  width:25em;
  height:8em;
  bottom:-0.2em;
  background:#03315c; 
  border-bottom-left-radius: 0.51em;
  border-bottom-right-radius: 0.51em;
  overflow:hidden;
    } */

.profile p {
  width:18em;
  height: 48%;
  font-size:1.2em;
  margin:auto;
  font-family: 'Roboto', sans-serif;
  color: rgb(232 229 229);
}

.non-visible {
  display: none;
}

.wrap-btn_sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closed_prof {
  width: 21px;
    height: 21px;
    border-radius: 50px;
    margin-left: 92%;
    margin-top: 2%;
}

.closed_prof:hover {
    box-shadow: inset 0px 0px 10px rgb(0 0 0 / 60%);
}

.contener_sett {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap_sett {
    width: 60%;
    margin: 0 auto;
    padding-left: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(216, 210, 210);
    padding: 10px;
    box-shadow: 5px 5px 8px 3px rgb(0 0 0 / 48%);
}

.title_sett {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.wrap_sett input {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  display: block;
  width: 97%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(151, 151, 151);
  margin-bottom: 14px;
  padding-left: 10px;
}

.extra_space {
  height: 94px;
}

.less_space {
  height: 25px;
}

.save_sett {
  background-color: #c769f0;
  color: rgb(209, 209, 209);
  border: 1px solid rgba(155, 155, 245, 0.5);
  border-radius: 20px;
  height: 3em;
  font-weight: 600;
  box-shadow: inset 0px 0px 10px rgb(0 0 0 / 60%);
  margin: 0 auto;
  width: 80%;
  font-family: Poppins-Medium;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  transition: all 0.4s;
}

.closed_sett {
  width: 21px;
  height: 21px;
  border-radius: 50px;
  margin-left: 75%;
  margin-top: 0%;
}