* {
    padding: 0;
    margin: 0;
}

/* Start page */
body {
    background-color: cornsilk;
}

.contener {
    width: 100%;
    display: flex;
}

.start_img {
    width: 50%;
}

.start_img img {
    width: 100%;
}

.btn_sart {
    background-color: white;
    color: black;
    border: 1px solid rgb(155, 155, 245);
    border-radius: 20px;
    height: 3em;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
}
.btn_sart:hover {
    color:rgb(11, 11, 146);
    background-color: rgb(104, 255, 235);
    border: 2px solid rgb(11, 11, 146);;

}

.main_cont {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-top: 5em;
}

.main_cont h3 {
    margin-top: 4em;
    margin-bottom: 2em;
}

/* .display {
    display:none;
} */

/* Start page End*/